{{#if enabled}}
<div class="modal-shadow">
  <div class="modal-frame">
    <div class="modal-title">
      <div>About Trail</div>
        <div class="login-image">
          <img class="logo" src="assets/images/logo.svg">
        </div>
      <button class="exit-modal" {{action "toggleModal"}}>X</button>
    </div>
    <div class="modal-body">
      <p>
        <ul>
          <li>Connecting people so they can enjoy the outdoors together</li>
          <li class="modal-text">Created by Jimmy Thigpen</li>
          <li class="modal-text">The Iron Yard Student</li>
          <li class="modal-text">2015</li>
        </ul>
      </p>
    </div>
  </div>
</div>
{{/if}}
