@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'bower_components/neat/app/assets/stylesheets/neat';

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  @include outer-container(block-collapse);
  background-color: #C5E5C7;
}

.header-welcome {
  @include span-columns(4, block-collapse);
  font-size: 2em;
  text-align: center;
  padding: .4em;
}

.header-image {
  @include span-columns(4, block-collapse);
  font-size: 3em;
  text-align: center;
  padding: .1em;
}

.header-buttons {
  @include span-columns(4, block-collapse);
  font-size: 2em;
  text-align: center;
  padding: .4em;
}
