@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'bower_components/neat/app/assets/stylesheets/neat';

$font-stack: 'Roboto', sans-serif;

$white: #fafafa;

$primary: #f1eee5;
$primary-light: #fdf8ee;
$primary-dark: #e4e0d6;

$secondary: #8bc34a;
$secondary-light: #dcedc8;
$secondary-dark: #689f38;

$primary-text: #252525;
$secondary-text: #717171;
$hint-text: #b6b6b6;

* {
  margin: 0;
  padding: 0;
  color: $primary-text;
  font-family: $font-stack;
  font-weight: 300;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
}

header {
  @include outer-container(block-collapse);
  background-color: $primary;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  height: 35px;
}

.account-image-container {
  display: inline-block;
}

.account-image {
  border-radius: 3px;
  height: 25px;
}

.header-welcome-container {
  @include span-columns(4, block-collapse);
  margin-top: 4px;
  padding-left: 10px;
  text-align: left;
}

.header-welcome {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
}

.header-image {
  @include span-columns(4, block-collapse);
  text-align: center;
  height: 34px;
}

.logo {
  /* transition: all 0.15s ease-in-out 0s; */
  height: 100%
}

/* .logo:hover {
  color: #8BC34A;
} */

.header-buttons {
  @include span-columns(4, block-collapse);
  padding-right: 10px;
  height: 34px;
  text-align: right;

  a {
    text-align: center;
  }
}

.header-buttons i {
  width: 20%;
  vertical-align: top;
  transition: all 0.15s ease-in-out 0s;
  font-size: 33px;
  cursor: pointer;

  &:hover {
    color: $secondary;
  }
}

.body-container {
  @include outer-container(block-collapse);
}

.left-container {
  @include span-columns(3.5, block-collapse);
  padding-left: 10px;
  padding-right: 1px;
  margin-top: 10px;
}

.right-container {
  @include span-columns(8.5, block-collapse);
  padding-right: 10px;
  padding-left: 1px;
  margin-top: 10px;
}

iframe {
  width: 100%;
  height: 95%

}

.map-container {
  border-radius: 3px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  padding: 5px;
  height: 575px;
  background-color: $primary;
}

.user-activity-container {
  border-radius: 3px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  padding: 5px;
  height: 575px;
  background-color: $primary;
}

.container-title {
  text-align: center;
  font-size: 20px;
  padding: 1px;
}

.activity-list-item {
  list-style: none;
  border-radius: 3px;
  border: 2px solid $secondary;
  margin-bottom: 5px;
  padding: 2px;
}

.activity-name {
  font-weight: 500;
  font-size: 16px;
}

.activity-info {
  font-size: 14px;
}

.submit-container {
  max-width: 350px;
  border-radius: 3px;
  margin: 7em auto;
  padding: 20px;
  background-color: $primary;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}

.submit-label {
  text-align: center;
  color: $primary-text;
  margin-bottom: 10px;
  font-size: 34px;

}

.submit-button {
    margin: 20px auto;
    color: $white;
    cursor: pointer;
    display: block;
    height: 35px;
    width: 100%;
    background: $secondary;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
    transition: all 0.15s ease-in-out 0s;

    &:hover {
      background: $secondary-dark;
    }
}

.submit-input {
  display: block;
  height: 36px;
  width: 100%;
  margin: 0 auto;
  background-color: $primary;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid $secondary-text;
  border-left: none;
  font-size: 16px;
  outline: none;
  transition: all 0.15s ease-in-out 0s;

  &:focus {
    border-color: $secondary;
  }
}
.submit-link a {
  transition: all 0.15s ease-in-out 0s;

  &:hover {
    color: $secondary;
  }
}

.login-image {
  height: 100px;
  text-align: center;
}

//
// CSS For Form Buttons
//
.mx-button {
    display: inline-block;
}
.mx-button input {
    display: none;
}
.mx-button label {
    background: #ccc;
    border: 1px solid #888;
    color: #666;
    padding: 5px 10px;
}
.mx-button label:hover {
    background-color: #ddd;
}
.mx-button label:active,
.mx-button input:focus + label {
    background-color: #aaa;
}
.mx-button input:checked + label {
    background-color: #b4b4b4;
}

.mx-button label {
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    margin-left: -1px;
    padding: 4px 10px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
.mx-button label:hover {
    background-color: #e6e6e6;
    background-position: 0 -15px;
    color: #333333;
    text-decoration: none;
    transition: background-position 0.1s linear;
}
.mx-button label:active,
.mx-button input:focus + label {
    background-color: #d9d9d9;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0;
}

.mx-button input:checked + label {
    background: #f5f5f5;
    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.15), 0 1px 2px  rgba(0, 0, 0, 0.05);
}

//
// Media Queries
//
@media screen and (max-width: 800px) {
  .header-welcome {
    display: none;
  }

  .left-container {
    @include span-columns(12);
    padding-right: 10px;
  }

  .right-container {
    @include span-columns(12, block-collapse);
    padding-left: 10px;
  }

}
