@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'bower_components/neat/app/assets/stylesheets/neat';

$font-stack: 'Comic Sans', sans-serif;

$white: #fafafa;

$primary: #f1eee5;
$primary-light: #a5d860;
$primary-dark: #e4e0d6;

$secondary: #8bc34a;
$secondary-light: #9ed05c;
$secondary-dark: #689f38;

$primary-text: #252525;
$secondary-text: #717171;
$hint-text: #b6b6b6;

* {
  margin: 0;
  padding: 0;
  color: $primary-text;
  font-family: $font-stack;
  font-weight: 300;
  /* opacity: 0.9; */
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
}

header {
  @include outer-container(block-collapse);
  background-color: $primary;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  height: 35px;
}

.account-image-container {
  display: inline-block;
}

.account-image {
  border-radius: 3px;
  height: 25px;
}

.header-welcome-container {
  @include span-columns(4, block-collapse);
  margin-top: 4px;
  padding-left: 10px;
  text-align: left;
}

.header-welcome {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
}

.header-image {
  @include span-columns(4, block-collapse);
  text-align: center;
  height: 34px;
}

.logo {
  /* transition: all 0.15s ease-in-out 0s; */
  height: 100%
}

/* .logo:hover {
  color: #8BC34A;
} */

.header-buttons {
  @include span-columns(4, block-collapse);
  padding-right: 10px;
  height: 34px;
  text-align: right;

  a {
    text-align: center;
  }
}

.header-buttons i {
  width: 20%;
  vertical-align: top;
  transition: all 0.15s ease-in-out 0s;
  font-size: 33px;
  cursor: pointer;

  &:hover {
    color: $secondary;
  }

  &:active {
    color: $secondary-dark;
  }
}

.body-container {
  @include outer-container(block-collapse);
}

.left-container {
  @include span-columns(4, block-collapse);
  padding-left: 10px;
  padding-right: 1px;
  margin-top: 10px;
}

.right-container {
  @include span-columns(8, block-collapse);
  padding-right: 10px;
  padding-left: 1px;
  margin-top: 10px;
}

iframe {
  width: 100%;
  height: 95.3%;

}

.map-container {
  border-radius: 3px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  padding: 5px;
  height: 38em;
  background-color: $primary;
}

.button-container {
  position: relative;
  border-radius: 3px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  padding: 5px;
  height: 38em;
  background-color: $primary;
}

.user-activity-container {
  border-radius: 3px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  padding: 5px;
  height: 33em;
  background-color: $primary;
  overflow: scroll;
}

.user-activity-container-alt {
  border-radius: 3px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  padding: 5px;
  height: 38em;
  background-color: $primary;
  overflow: hidden;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.container-title {
  text-align: center;
  font-size: 20px;
  padding: 1px;
}

.activity-list-item {
  list-style: none;
  border-radius: 3px;
  border: 2px solid $secondary-light;
  margin-bottom: 5px;
  padding: 2px;
  position: relative;

  &:hover {
    border: 2px solid $secondary;
    &:a button {
      background: $secondary;
    }
  }

  &:active {
    border: 2px solid $secondary-dark;
  }
}

.activity-name {
  font-weight: 500;
  font-size: 16px;
}

.activity-preview-info {
  font-size: 14px;
  color: $secondary-text;
}

.submit-container {
  max-width: 350px;
  border-radius: 3px;
  margin: 7em auto;
  padding: 20px;
  background-color: $primary;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
  opacity: 0.97;
}

.submit-label {
  text-align: center;
  color: $primary-text;
  margin-bottom: 10px;
  font-size: 34px;

}

.submit-button {
    margin: 20px auto;
    color: $white;
    cursor: pointer;
    display: block;
    height: 35px;
    width: 100%;
    background: $secondary-light;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
    transition: all 0.15s ease-in-out 0s;

    &:hover {
      background: $secondary;
    }

    &:active {
      background: $secondary-dark;
    }
}

.activity-button-container {
  text-align: center;
}

.activity-button {
    margin-top: 10px;
    color: $white;
    cursor: pointer;
    display: inline-block;
    height: 35px;
    width: 32.3%;
    background: $secondary-light;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
    transition: all 0.15s ease-in-out 0s;

    &:hover {
      background: $secondary;
    }

    &:active {
      background: $secondary-dark;
    }
}

.activity-complete-button {
  margin-top: 10px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  width: 100%;
  background: $secondary-light;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  outline: none;
  transition: all 0.15s ease-in-out 0s;

  &:hover {
    background: $secondary;
  }

  &:active {
    background: $secondary-dark;
  }

  &:disabled {
    background: black;
  }
}

.submit-input {
  display: block;
  height: 36px;
  width: 100%;
  margin: 0 auto;
  background-color: $primary;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid $secondary-text;
  border-left: none;
  font-size: 16px;
  outline: none;
  transition: all 0.15s ease-in-out 0s;

  &:focus {
    border-color: $secondary;
  }
}

.submit-link a {
  transition: all 0.15s ease-in-out 0s;

  &:hover {
    color: $secondary;
  }
}

.details-button {
  color: #fafafa;
  cursor: pointer;
  height: 20px;
  width: 50px;
  background: #8bc34a;
  border: none;
  border-radius: 3px 0px 0px 0px;
  font-size: 14px;
  outline: none;
  transition: all 0.15s ease-in-out 0s;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background:$secondary-light;

  &:hover {
    background: $secondary;
  }

  &:active {
    background: $secondary-dark;
  }
}

.create-new-button {
  margin: 5px auto;
  color: #fafafa;
  cursor: pointer;
  display: block;
  height: 35px;
  width: 100%;
  background: $secondary-light;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  outline: none;
  transition: all 0.15s ease-in-out 0s;

  &:hover {
    background: $secondary;
  }

  &:active {
    background: $secondary-dark;
  }
}

.index-page-button {
  margin: 6px auto;
  color: #fafafa;
  cursor: pointer;
  height: 35px;
  width: 49%;
  background: $secondary-light;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  outline: none;
  transition: all 0.15s ease-in-out 0s;

  &:hover {
    background: $secondary;
  }

  &:active {
    background: $secondary-dark;
  }
}


.login-image {
  height: 100px;
  text-align: center;
}

.activity-info {
  text-align: center;
}

.edit-info {
  font-weight: 500;
}

.edit-input {
  display: block;
  padding-bottom: .25em;
  width: 100%;
  margin: .25em auto;
  background-color: $primary;
  color: $secondary-text;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid $secondary-text;
  border-left: none;
  font-size: 16px;
  outline: none;
  list-style: none;
  transition: border-color 0.15s ease-in-out 0s;

  &:hover {
    border-color: $secondary;
  }
}

.date-input {
  width: 100%;
  background: #F1EDE4;
  border: none;
  font-size: 14px;
  color: $secondary-text;
  outline: none;
}

.twitter-typeahead {
  font-size: 16px;
  width: 100%;
}

.typeahead {
  width: 100%;
  border: 2px solid transparent;
  font-size: 14px;
  z-index: 1;
}

.tt-dropdown-menu {
  font-size: 14px;
  width: 100%;
}

select {
  font-size: 16px;
  font-family: $font-stack;
  border: 0;
  outline: none;

  &:disabled {
    color: $hint-text;
  }
}

.marker-select {
  display: inline-block;
  width: 49%
}

.marker {
  width: 100%;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  outline: none;
  min-height: 50px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
}

.remove-friend {
  font-size: 12px;
  padding: 1px;
}

//
// CSS For Radio Buttons
//
.type-button {
    display: inline-block;
    width: 49%;
    text-align: center;
}

.type-button input {
    display: none;
}

.type-button label {
    width: 100%;
    background-color: $white;
    border-radius: 3px;
    border: 2px solid transparent;
    cursor: pointer;
    display: inline-block;
    padding: 4px 10px;
    font-size: 14px;
}

.type-button label:hover {
    background-color: $white;
    background-position: 0 -15px;
    transition: background-position 0.15s linear;
}

.type-button input:checked + label {
    background: $white;
    border: 2px solid $secondary;

}

//
// Media Queries
//
@media screen and (max-width: 800px) {
  .header-welcome {
    display: none;
  }

  .left-container {
    @include span-columns(12);
    padding-right: 10px;
  }

  .right-container {
    @include span-columns(12, block-collapse);
    padding-left: 10px;
    margin-bottom: 10px;
  }

}
