<div class="body-container"></div>

<div class="left-container">
  <h3>Runs & Rides</h3>
  <div class="user-activity-container">
    <ul class="activity-list">
      <li class="activity-list-item">
      <div>Jimmy Thigpen</div>
      <div>Coffee fun run!</div>
      <div>3.5 Miles</div>
      <div>Monday March 10, 2015</div>
      <div>10:30 AM</div>
      {{#link-to 'home.activity'}}
        <button>Details</button>
      {{/link-to}}
      </li>
      <li class="activity-list-item">
      <div>Erik Eggers</div>
      <div>Coffee not fun run.</div>
      <div>1 Mile</div>
      <div>Tuesday March 11, 2015</div>
      <div>9:00 AM</div>
      {{#link-to 'home.activity'}}
        <button>Details</button>
      {{/link-to}}
      </li>
    </ul>
  </div>
</div>

<div class="right-container">
  <h3>Explore the swamp rabbit trail!</h3>
  <div class="map-container"><iframe frameBorder='0'src='http://goo.gl/921Frn'></iframe></div>
  <span>
    {{#link-to 'home.create'}}
      <button>Create New</button>
    {{/link-to}}
  </span>
</div>
