<div class="home-container"></div>

<div class="home-left-container">
  <h2>Runs & Rides</h2>
  <h2>This will be a list of your rides</h2>
</div>

<div class="home-right-container">
  <span>Explore the swamp rabbit trail!</span>
  <div class="map-container"><iframe frameBorder='0'src='http://goo.gl/dsKbDE'></iframe></div>
  <span>
    {{#link-to 'home.create'}}
      <button>Create New</button>
    {{/link-to}}
  </span>
</div>
