<header>

<span class="header-welcome">Hello, Jimmy!</span>

  <span class="header-image">
    {{#link-to 'home'}}
      <i class="fa fa-bicycle"></i>
    {{/link-to}}
  </span>

<span class="header-buttons">

  <span class="button">
      {{#link-to 'home.account'}}
        <i class="fa fa-user"></i>
      {{/link-to}}
  </span>

  <span class="button">
      <a {{ action 'invalidateSession' }}><i class="fa fa-sign-out"></i></a>
  </span>



</span>

</header>

{{outlet}}
