<div class='login-container'>

<div class="login-label">Run & Ride</div>

<div>{{input placeholder="email" class="login-input" value=loginEmail}}</div>
<div>{{input placeholder="password" class="login-input" value=loginPassword}}</div>

<button class="login-button" {{action "login"}}>LOGIN</button>

{{#link-to 'register'}}
<div class="register-link">Need an account?</div>
{{/link-to}}

</div>

{{outlet}}
